.LearnMore {
  width: 100%;
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  border-bottom: 1px solid #0c1838;
  position: relative;
}
.LearnMore__borderTop {
  top: 0%;
  left: 0;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #0c1838;
}
.LearnMore__content {
  height: 680px;
  background-color: #080d27;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 61px;
}
.LearnMore__page {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 1;
}
.LearnMore__image {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: right;
  gap: 24px;
  align-items: flex-end;
}
.LearnMore__title {
  font-family: "Popins";
  font-size: 48px;
  font-weight: 700;
  color: #EAEDFF;
}

.LearnMore__line {
  height: 100%;
  border-left: 2px solid rgba(12, 24, 56, 1);
  position: relative;
}

.information__lineBox {
  position: absolute;
  background: linear-gradient(to bottom, #1b275a10 0%, #0e143410 100%);
  width: calc(50vw - 55px);
  height: 374px;
}

.info__boxLeft {
  top: 5%;
  left: -15px;
  transform: translateX(-100%);
}
.info__boxRight {
  top: 5%;
  left: 15px;
}

.information__lightBox {
  position: absolute;
  width: 320px;
  height: 320px;
  background: rgba(25, 89, 173, 0.25);
  filter: blur(90px);
  -webkit-filter: blur(90px);
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.main__informationLogo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }

  .LearnMore__text{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .LearnMore__textTitle{
    font-family: 'Popins';
    font-size: 16px;
    font-weight: 600;
    color: #EAEDFF;
  }
  .LearnMore__textBody{
    font-family: 'Popins';
    font-size: 14px;
    font-weight: 400;
    color: #C4CBF5;
    text-align: start;
  }

@media (max-width: 988px) {
  .LearnMore__content {
    flex-direction: column;
    gap: 103px;
    position: relative;
    height: fit-content;
  }
  .LearnMore__borderTop {
    top: -15%;
  }
  .LearnMore__image {
    z-index: 1;
  }
  .LearnMore__line {
    top: -15%;
    position: absolute;
    z-index: 0;
    height: 100%;
  }
  .LearnMore{
    margin-top: 100px;
  }
}

@media (max-width: 835px) {
  .information__lightBox {
    filter: blur(110px);
    -webkit-filter: blur(110px);
  }
}

@media (max-width: 560px) {
  .LearnMore__image img {
    max-width: 400px;
  }
}

@media (max-width: 430px) {
  .LearnMore__image img {
    max-width: 343px;
  }
  .LearnMore__borderTop {
    top: -15%;
  }
  .info__boxRight {
    top: 1%;
  }
}

@media (max-width: 350px) {
  .LearnMore__image img {
    max-width: 300px;
  }
}
