.window__wrapper {
  background: linear-gradient(180deg, #243474 0%, #0f1434 100%);
  max-width: 600px;
  width: 100%;
  border-radius: 40px;
  border: 3px solid #334679;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 40px;
  gap: 25px;
}

.modal__widowClose{
  position: absolute;
  top: 1%;
  left: 92%;
  width: 30px;
  cursor: pointer;
  z-index: 11111;
}

.window__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.body__subscription {
  font-family: "Popins";
  font-size: 20px;
  font-weight: 600;
  color: #eaedff;
}

.body__value {
  font-family: "Popins";
  font-size: 24px;
  font-weight: 700;
  color: #c8ea80;
}

.window__info {
  font-family: "Popins";
  font-size: 14px;
  font-weight: 400;
  color: #c4cbf5;
  text-align: center;
}

.cancel__dataWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  width: 100%;
  gap: 12px;
  padding: 20px;
  border-top: 1px solid #334679;
  border-left: 1px solid #334679;
  border-right: 1px solid #334679;
  background: transparent;
}

.cancel__dataText {
  font-family: "Popins";
  font-size: 16px;
  font-weight: 600;
  color: #c4cbf5;
}

.cancel__dataValue {
  font-family: "Popins";
  font-size: 20px;
  font-weight: 600;
  color: #eaedff;
}

.window__buttonWrapper {
  display: flex;
  justify-content: center;
  gap: 42px;
  margin-top: 15px;
  padding: 0px 10px 20px 10px;
}

.window__buttonBack {
  width: 200px;
  box-shadow: 0px -5px 15px rgba(40, 51, 111, 0.7);
}

.window__buttonView {
  box-shadow: 0px -5px 15px rgba(40, 51, 111, 0.7);
}

@media (max-width: 561px) {
  .window__wrapper{
    max-width: 420px;
  }
}

@media (max-width: 500px) {
  .window__buttonWrapper {
    gap: 10px;
  }
  .window__info {
    font-size: 12px;
  }
}

@media (max-width: 391px) {
  .window__wrapper{
    min-width: 350px;
    width: 100%;
  }
  .window__buttonWrapper{
    flex-direction: column;
  }
  .window__buttonBack{
    max-width: 238px;
    width: 100%;
  }
}
