.cancel__wrapper {
  background: linear-gradient(180deg, #243474 0%, #0f1434 100%);
  min-width: 600px;
  width: 100%;
  border-radius: 40px;
  border: 3px solid #334679;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 40px;
  gap: 30px;
}

.modal__widowClose{
  position: absolute;
  top: 1%;
  left: 92%;
  width: 30px;
  cursor: pointer;
  z-index: 11111;
}

.cancel__warningWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 16px;
  padding: 12px 16px;
  background: #080d27;
}

.cancel__headText {
  font-family: "Popins";
  font-size: 20px;
  font-weight: 600;
  color: #eaedff;
}

.cancel__warningText {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.cancel__informationText {
  font-family: "Popins";
  font-size: 14px;
  font-weight: 400;
  color: #c4cbf5;
  text-align: center;
}

.cancel__dataWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  width: 100%;
  gap: 12px;
  padding: 20px;
  border-top: 1px solid #334679;
  border-left: 1px solid #334679;
  border-right: 1px solid #334679;
  background: transparent;
}

.cancel__dataText{
    font-family: 'Popins';
    font-size: 16px;
    font-weight: 600;
    color: #C4CBF5;
}

.cancel__dataValue{
    font-family: 'Popins';
    font-size: 20px;
    font-weight: 600;
    color: #EAEDFF;
}

.cancel__button{
    margin-top: 20px;
}

@media(max-width:622px){
  .cancel__wrapper{
    min-width: 500px;
  }
}

@media(max-width:527px){
  .cancel__wrapper{
    min-width: 400px;
  }
}

@media(max-width:425px){
  .cancel__wrapper{
    min-width: 350px;
  }
}