@import url('../../styles/_fonts.scss'); 

.main {
    display: flex;
    align-items: center;
    background-color: #080D27;
}
.main__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.from__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form__imageWrapper{

}