.slider__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__captcha {
  position: relative;
  width: 272px;
  height: 83px;
  border-radius: 10px;
  overflow: hidden;
}

.slider__background {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slider__puzzle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  transition: left 0.1s;

  img {
    width: 100%;
    height: 100%;
  }
}

.slider__track {
  position: relative;
  margin: 15px auto 0;
  width: 272px;
  height: 40px;
  background: #292929;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__text {
  position: absolute;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.45);
  pointer-events: none;

}

.slider__button {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00d1ff;

  img {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: #00b0e6;
  }

  &--success {
    background-color: #00b0e6;
  }

  &--error {
    background-color: #dc3545;
  }
}
