.faq {
  padding: 0 15px;
  margin: 0 auto 118px;
  max-width: 1060px;
  width: 100%;
  position: relative;
}
.faqNone{
  display: none;
}
.faq__content {
  background: linear-gradient(to bottom, #010102 0%, #0f1431 100%) center
    no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 64px;
  padding: 80px 0px;
  position: relative;
  z-index: 7;
}
.faq__imageRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}
.faq__imageLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.faq__backgroundLeft {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 0;
  left: 20px;
}
.faq__backgroundLeft img {
  transform: rotate(90deg);
  transform-origin: center;
}
.faq__backgroundRight {
  position: absolute;
  transform: translate(50%, -50%);
  z-index: 0;
  right: 20px;
}
.faq__backgroundRight img {
  transform: rotate(-90deg);
  transform-origin: center;
}
.faq__title {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #eaedff;
}
summary,
details {
  margin: 0;
  padding: 0;
}
.faq__listText {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #c4cbf5;
  max-width: 792px;
  width: 100%;
}
.faq__legendText {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #c4cbf5;
  margin-left: 5px;
}
.faq__imageLeftMob{
  display: none;
}
.faq__icon {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("./faq-icon-plus.svg");
  cursor: pointer;
}
details[open].faq__details .faq__icon {
  background-image: url("./faq-icon-minus.svg");
}
.faq__details {
  max-width: 850px;
  width: 100%;
}
.faq__legend {
  display: flex;
  position: relative;
}
.faq__imageRightMob{
  display: none;
}

@media (max-width: 1181px) {
  .faq {
    max-width: 80vw;
  }
  .faq__details {
    max-width: 80%;
  }
  .faq__list-text {
    max-width: 90%;
  }
}

@media (max-width: 835px) {
  .faq__icon {
    right: -10%;
    top: 40%;
  }
  .faq__imageLeft{
    display: none;
  }
  .faq__imageLeftMob{
    display: flex;
    position: absolute;
    top: -7%;
  }
  .faq__imageRight{
    display: none;
  }
  .faq__imageRightMob{
    display: flex;
    position: absolute;
    top: 93%;
  }
}

@media (max-width: 835px) {
  .faq {
    margin-top: 5px;
  }
  .faq__imageLeft {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateY(-50%) rotate(90deg);
    z-index: 1;
  }
  .faq__backgroundLeft {
    display: none;
  }
  .faq__backgroundLeft img {
    transform: rotate(180deg);
    transform-origin: center;
  }

  .faq__imageRight {
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateY(-50%) rotate(90deg);
    z-index: 1;
  }

  .faq__backgroundRight {
    display: none;
  }
  .faq__backgroundRight img {
    transform: rotate(0deg);
    transform-origin: center;
  }
}
