.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 900;
}

.modal__overlayNone {
  display: none;
}

.modal__wrapper {
  position: absolute;
  z-index: 901;
  top: 0;
  left: 53%;
  transform: translate(-50%, 4%);
}

.modal__wrapperNone {
  display: none;
}
