@import url('../../../styles/_fonts.scss');

.form__body {
    padding: 0px 24px 0px 24px;
  }
  
  .form__bodyWrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .form__pay {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .form__receiveWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .form__PhoneInputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.45);
  }

  .form__PhoneInputLabel {
    margin-left: 15px;
  }

  .form__PhoneInput {
    width: 340px;
    border: none;
  }

  .form__EmailInputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.45);
  }
  
  .form__EmailInputLabel {
    margin-left: 15px;
  }

  .form__EmailInput {
    width: 340px;
  }

  .form__receiveCheckbox {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 26px;
  }

  .remember__data {
    display: flex;
    gap: 8px;
  }

  .form__checkbox {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.04);
    appearance: none;
    -webkit-appearance: none;
    position: relative;
  }
  
  .form__checkbox:checked::after {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: #2ef2ff;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../../../../public/image/checkboxAfter.svg");
    background-size: contain;
  }
  
  .form__checkboxText {
    font-family: "Popins";
    font-size: 16px;
    font-weight: 400;
    color: #eaedff;
    line-height: 16px;
  }

  .agree__rules {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  .form__walletInputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.45);
    max-width: 340px;
  }

  .form__walleyInputLable {
    margin-left: 15px;
  }

  .form__walletInput {
    width: 340px;
  }

  .form__payInput {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.45);
    max-width: 340px;
  }

  .form__payInputLable {
    margin-left: 15px;
    width: 100%;
  }

  .form__payInputTelegram {
    width: 340px;
  }

  .form__reCapcha{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 44px;
}