.advantages__wraper {
  max-width: 950px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.advantages__wraperNone {
  max-width: 950px;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.advantages__text {
  font-family: "Popins";
  font-size: 48px;
  font-weight: 700;
  color: #eaedff;
}

.advantages__сontent {
  display: flex;
  gap: 8px;
}

.content__leftWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content__midWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content__rightWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content__payments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 33px 0px 33px;
  max-width: 312px;
  width: 100%;
  border-radius: 14px;
  border: 1px solid rgba(23, 38, 98, 1);
  background-color: rgba(27, 39, 90, 0.2);
}

.advantages__image {
  margin-bottom: 20px;
}

.advantages__boxText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.advantages__title {
  font-family: "Popins";
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 18px;
  color: #c4cbf5;
}

.advantages__body {
  font-family: "Popins";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 18px;
  color: #c4cbf5;
}

.advantages__bottomLine {
  content: "";
  width: 30px;
  height: 3px;
  margin-top: 33px;
  background-color: #2ef2ff;
}

.fast__bottomLine {
  content: "";
  width: 30px;
  height: 3px;
  margin-top: 70px;
  background-color: #2ef2ff;
}

.content_allInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 33px 0px 33px;
  max-width: 312px;
  width: 100%;
  border-radius: 14px;
  border: 1px solid rgba(23, 38, 98, 1);
  background-color: rgba(27, 39, 90, 0.2);
}

.content__fast {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 33px 0px 33px;
  max-width: 312px;
  width: 100%;
  border-radius: 14px;
  border: 1px solid rgba(23, 38, 98, 1);
  background-color: rgba(27, 39, 90, 0.2);
}

.content__multi {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 33px 0px 33px;
  max-width: 312px;
  width: 100%;
  border-radius: 14px;
  border: 1px solid rgba(23, 38, 98, 1);
  background-color: rgba(27, 39, 90, 0.2);
}

.content__secure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 33px 0px 33px;
  max-width: 312px;
  width: 100%;
  border-radius: 14px;
  border: 1px solid rgba(23, 38, 98, 1);
  background-color: rgba(27, 39, 90, 0.2);
}

.content__instant {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 33px 0px 33px;
  max-width: 312px;
  width: 100%;
  border-radius: 14px;
  background: linear-gradient(
    149.92deg,
    #1b275a 17.06%,
    #0e1434 71.38%,
    rgba(70, 84, 75, 0.705888) 110.57%,
    rgba(200, 234, 128, 0.02) 113.37%
  );
  border: 1px solid rgba(126, 211, 33, 0.4);
  box-shadow: 0 0 10px 1px rgba(126, 211, 33, 0.3),
    inset 0 0 10px 1px rgba(126, 211, 33, 0.2);

  transition: box-shadow 0.3s ease, border 0.3s ease;
}

.content__instant:hover {
  box-shadow: 0 0 12px 2px rgba(126, 211, 33, 0.5),
    inset 0 0 12px 2px rgba(126, 211, 33, 0.4);
  border-color: rgba(126, 211, 33, 0.6);
}

.instant__title {
  margin-top: 20px;
  font-family: "Popins";
  font-size: 20px;
  font-weight: 600;
  color: #c8ea80;
  text-align: center;
  line-height: 22px;
}

.instant__body {
  margin-top: 20px;
  font-family: "Popins";
  font-size: 16px;
  font-weight: 400;
  color: #c4cbf5;
  text-align: center;
}

.instant__bottomLine {
  content: "";
  width: 30px;
  height: 3px;
  margin-top: 60px;
  background-color: #c8ea80;
}

.multi__bottomLine {
  content: "";
  width: 30px;
  height: 3px;
  margin-top: 25px;
  background-color: #2ef2ff;
}

.allInformation__bottomLine {
  content: "";
  width: 30px;
  height: 3px;
  margin-top: 90px;
  background-color: #2ef2ff;
}

.secure__bottomLine {
  content: "";
  width: 30px;
  height: 3px;
  margin-top: 52px;
  background-color: #2ef2ff;
}

.advantages__button {
  box-shadow: -2px -10px 50px rgba(234, 237, 255, 0.15);
  backdrop-filter: blur(200px)
}

@media (max-width: 930px){
  .advantages__сontent{
    flex-direction: column;
  }
} 
