@import url("../../styles/_fonts.scss");

.form__exchanger {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, #243474 0%, #0f1434 100%);
  max-width: 830px;
  width: 100%;
  border: 3px solid #334679;
  border-radius: 40px;
  position: relative;
  margin-top: 100px;
}

.form__wrapper {
  max-width: 800px;
  width: 100%;
}

.pay__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 108px;
}

.receive__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 108px;
}

.form__header {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  position: relative;
}

.form__headerPay {
  font-family: "Popins";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #2ef2ff;
}

.form__headerReceive {
  font-family: "Popins";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #eaedff;
}

.form__headerLine {
  width: 100%;
  height: 1px;
  background-color: #0e1434;
  position: absolute;
  top: 25%;
  transform: translate(0, 50%);
}

.form__headerLine2 {
  display: none;
}

.form__headerLine3 {
  display: none;
}

.form__body {
  display: flex;
  padding: 24px 24px 0px 24px;
  justify-content: space-between;
}

.form__pay {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 24px;
}

.form__payValue {
  display: flex;
  gap: 12px;
  position: relative;
}

.form__paySelect {
  position: relative;
  display: flex;
  min-width: 220px;
  border-radius: 14px;
  padding: 12px 0px 12px 16px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.45);
  background-color: rgba(255, 255, 255, 0.04);
  border: none;
}

.form__paySelectImg {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 46%;
  transform: translate(50%, -50%);
}

.form__paySelect option {
  display: flex;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.45);
  background-color: #060a1d;
  border-top: 2px solid #2ef2ff;
}

.form__payInputValue {
  width: 120px;
}

.form__payBottomInput {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.form__payExchangeRate {
  font-family: "Gilroy";
  font-size: 12px;
  font-weight: 500;
  color: #c4cbf5;
}

.form__payExchangeRateText {
  display: flex;
  flex-direction: column;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 700;
  color: #c4cbf5;
}

.form__payLimits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  gap: 8px;
  margin-top: 5px;
  margin-right: 10px;
  font-family: "Gilroy";
  font-size: 12px;
  font-weight: 500;
  color: #c4cbf5;
}

.form__receiveLimits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  gap: 8px;
  margin-top: 5px;
  padding-right: 24px;
  font-family: "Gilroy";
  font-size: 12px;
  font-weight: 500;
  color: #c4cbf5;
}

.form__receive {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__receiveValue {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-right: 24px;
  position: relative;
}

.form__receiveSelect {
  position: relative;
  display: flex;
  border-radius: 14px;
  padding: 12px 0px 12px 16px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.45);
  background-color: rgba(255, 255, 255, 0.04);
  border: none;
  min-width: 220px;
}

.form__receiveSelectImg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(50%, -50%);
}

.form__receiveSelect option {
  display: flex;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.45);
  background-color: #060a1d;
  border-top: 2px solid #2ef2ff;
}

.form__receiveInputValue {
  width: 120px;
}

.form__button {
  margin-bottom: 20px;
}

.information__line {
  height: 60%;
  border-left: 2px solid rgba(12, 24, 56, 1);
  position: absolute;
  z-index: 0;
  &::after {
    content: "";
    width: 2px;
    height: 11px;
    position: absolute;
    top: 15%;
    left: -2px;
    background: #2ef2ff;
  }
}

.main__informationLogo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.information__lightBox {
  position: absolute;
  width: 320px;
  height: 320px;
  background: rgba(25, 89, 173, 0.25);
  filter: blur(90px);
  -webkit-filter: blur(90px);
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.form__payInvalidInput {
  width: 168px;
  border-color: #f8005b;
}

.form__receiveInvalidInput {
  width: 143px;
  border-color: #f8005b;
}

.form__formBottomText {
  display: visible;
  font-family: "Popins";
  font-size: 20px;
  font-weight: 600;
  color: #c8ea80;
  margin-bottom: 34px;
}

.form__formBottomTextNone {
  display: none;
}

@media (max-width: 763px) {
  .form__header {
    flex-direction: column;
  }
  .information__line {
    display: none;
  }
  .form__headerLine {
    top: 18%;
  }
  .form__headerLine2 {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #0e1434;
    position: absolute;
    top: 57%;
    transform: translate(0, 50%);
  }
  .form__headerLine3 {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #0e1434;
    position: absolute;
    top: 66%;
    transform: translate(0, 50%);
  }
  .pay__wrapper {
    gap: 20px;
  }
  .receive__wrapper {
    gap: 20px;
  }
  .form__receiveValue {
    padding: 0;
  }
  .form__payInputValue {
    width: 120px;
  }
  .form__pay {
    padding-left: 0px;
  }
}

@media (max-width: 430px) {
  .form__receiveSelectImg {
    left: 47%;
  }
  .form__receiveLimits{
    padding-right: 3px;
  }
}

@media (max-width: 391px) {
  .form__paySelectImg {
    left: 47%;
  }
  .form__paySelectImg {
    max-width: 190px;
  }
  .form__receiveValue {
    gap: 5px;
  }
  .form__receiveSelectImg {
    left: 49%;
  }
  .form__payExchangeRateText {
    font-size: 15px;
  }
  .form__receiveLimits{
    padding-right: 2px;
  }
  .form__wrapper{
    max-width: 382px;
  }
}
