@import url('../../../styles/_fonts.scss');

.modal__window{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    background: linear-gradient(180deg, #243474 0%, #0F1434 100%);
    border: 3px solid #334679;
    border-radius: 40px;
    gap: 24px;
}

.modal__windowWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 38px 18px 40px;
    gap: 16px;
}


.modal__howToPlay{
    font-family: 'Popins';
    font-size: 16px;
    font-weight: 600;
    color: #C4CBF5;
}

.modal__canceled{
    font-family: 'Popins';
    font-size: 20px;
    font-weight: 600;
    color: #C8EA80;
}

.modal__application{
    font-family: 'Popins';
    font-size: 14px;
    font-weight: 400;
    color: #C4CBF5;
    text-align: center;
}

.modal__amount{
    display: flex;
    justify-content: space-between;
    max-width: 468px;
    width: 100%;
    border-radius: 16px;
    padding: 12px 16px;
    background-color: #080D27;
}

.amount__text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Popins';
    font-size: 14px;
    font-weight: 400;
    color: #C4CBF5;
    white-space: nowrap;
}

.amount__value{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Popins';
    font-size: 16px;
    font-weight: 600;
    color: #C4CBF5;
    text-align: right;
}



.modal__buttonGroup{
    display: flex;
    gap: 40px;
}

.modal__buttonCancel{
    background: none;
    border: 1px solid #2EF2FF;
}


.modal__timeStatus{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 520px;
    width: 100%;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #243474;
    border-left: 1px solid #243474;
    border-right: 1px solid #243474;
    border-bottom: 1px solid #0F1434;
    border-radius: 40px;
}

.timestatus__wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.timestatus__timeText{
    font-family: 'Popins';
    font-size: 14px;
    font-weight: 400;
    color: #C4CBF5;
    text-align: right;
}

.timestatus__statusText{
    font-family: 'Popins';
    font-size: 14px;
    font-weight: 400;
    color: #C4CBF5;
    text-align: left;
}

.timestatus__dateTime{
    font-family: 'Popins';
    font-size: 20px;
    font-weight: 600;
    color: #EAEDFF;
}

.timestatus__dateTimeCanceled{
    font-family: 'Popins';
    font-size: 20px;
    font-weight: 600;
    color: #F8005B;
}


.timestatus__line{
    content: '';
    height: 54px;
    width: 1px;
    background-color: #2EF2FF;
}

.modal__attention{
    padding: 0px 86px;
    font-family: 'Popins';
    font-size: 14px;
    font-weight: 400;
    color: #C8EA80;
    text-align: center;
}

.modal__buttonRefresh{
    background: none;
    padding: 13px 26px 13px 26px;
    border: 1px solid #2EF2FF;
    border-radius: 14px;
    font-family: 'Popins';
    font-weight: 700;
    font-size: 16px;
    color: #2EF2FF;
    cursor: pointer;
}

.modal__bottomLine{
    content: '';
    width: 30px;
    height: 3px;
    background: #2EF2FF;
}

@media(max-width:431px){
    .modal__timeStatus{
        gap: 10px;
        max-width: 382px;
    }
    .timestatus__dateTime{
        font-size: 16px;
    }
    .modal__window{
        min-width: 412px;
        gap: 10px;
    }
    .amount__value{
       gap: 24px;
    }
    .amount__text{
        gap: 38px;
    }
}