.window__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  width: 100%;
  border-radius: 40px;
  border: 3px solid #334679;
  background: linear-gradient(180deg, #243474 0%, #0f1434 100%);
  gap: 40px;
  padding: 20px;
}

.window__img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.window__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.body__subscription {
  font-family: "Popins";
  font-size: 20px;
  font-weight: 600;
  color: #eaedff;
}

.body__value {
  font-family: "Popins";
  font-size: 24px;
  font-weight: 700;
  color: #c8ea80;
}

.widnow__bodyDates {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dates__text {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dates_dates {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dates__wrapper {
  font-family: "Popins";
  font-size: 14px;
  font-weight: 400;
  color: #c4cbf5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dates_dates {
  font-family: "Popins";
  font-size: 16px;
  font-weight: 600;
  color: #c4cbf5;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.window__buttonWrapper {
  display: flex;
  justify-content: center;
  gap: 42px;
  padding: 0px 10px 20px 10px;
}

.window__buttonBack {
  width: 200px;
  box-shadow: 0px -5px 15px rgba(40, 51, 111, 0.7);
}

.window__buttonView {
  box-shadow: 0px -5px 15px rgba(40, 51, 111, 0.7);
}

@media (max-width: 1200px) {
  .window__wrapper {
    min-width: 600px;
    padding: 20px 10px;
  }
}

@media (max-width: 1062px) {
  .window__bottomLine {
  }
}

@media (max-width: 625px) {
  .window__wrapper {
    min-width: 550px;
  }
}

@media (max-width: 600px) {
  .durations__checkbox {
    width: 32px;
    height: 16px;
  }
}

@media (max-width: 571px) {
  .window__wrapper {
    min-width: 500px;
  }
  .window__buttonWrapper{
    gap: 15px;
    flex-direction: column;
    align-items: center;
  }
  .window__buttonBack{
    width: 240px;
  }
}

@media (max-width: 519px) {
  .window__wrapper {
    min-width: 400px;
  }
}

@media (max-width: 465px) {
  .window__wrapper {
    max-width: 400px;
    margin-top: 400px;
  }
}

@media (max-width: 419px) {
  .window__wrapper {
    max-width: 250px;
    width: 100%;
  }
}
  @media (max-width: 391px) {
    .window__wrapper {
      min-width: 370px;
    }
}
