.window__wrapper{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    border-radius: 40px;
    border: 3px solid #334679;
    background: linear-gradient(180deg, #243474 0%, #0F1434 100%);
    gap: 40px;
    padding-top: 30px;
}

.window__img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.window__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.body__subscription{
    font-family: 'Popins';
    font-size: 20px;
    font-weight: 600;
    color: #EAEDFF;
}

.body__value{
    font-family: 'Popins';
    font-size: 24px;
    font-weight: 700;
    color: #C8EA80;
}

.widnow__bodyDates{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dates__text{
    display: flex;
    align-items: center;
    gap: 12px;
}

.dates_dates{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dates__wrapper{
    font-family: 'Popins';
    font-size: 14px;
    font-weight: 400;
    color: #C4CBF5;
}

.dates_dates{
    font-family: 'Popins';
    font-size: 16px;
    font-weight: 600;
    color: #C4CBF5;
}

.window__buttonWrapper{
    display: flex;
    justify-content: center;
    gap: 42px;
    padding-bottom: 20px;
}

.window__buttonBack{
    width: 200px;
    box-shadow: 0px -5px 15px rgba(40, 51, 111, 0.7);
}

.window__buttonView{
    box-shadow: 0px -5px 15px rgba(40, 51, 111, 0.7);
}