@import url('../../../styles/_fonts.scss');

.step1{

}

.step__header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #0E1434;
    padding-top: 36px;
    padding-bottom: 42px;
}

.step__headerPay{
    font-family: 'Popins';
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #2EF2FF;
}

.step__headerReceive{
    font-family: 'Popins';
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #EAEDFF;
}